<header
    class="w-full bg-gray-50 px-4 py-3 sm:px-5 sm:py-4 border-b border-gray-300 shadow-xs z-50"
    [class.fixed]="isHomeRoute()"
    [class.sticky]="!isHomeRoute()"
    [class.top-0]="!isHomeRoute()"
>
    <nav class="mx-auto flex w-full max-w-6xl items-center justify-between gap-4">
        <div class="min-w-0">
            <img src="/ArseAccesorios.png" class="block size-12 sm:size-14 md:hidden" />
            <h1 class="hidden truncate text-4xl font-semibold tracking-tight md:block md:text-5xl">
                {{ title() }}
            </h1>
        </div>
        <div class="flex shrink-0 gap-4 text-violet-700 sm:gap-5 md:gap-8">
            <a
                class="flex items-center gap-1 p-1 transition-colors hover:text-purple-500"
                routerLink=""
                routerLinkActive="border-b-2"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <span class="icon-[fluent--home-48-filled] size-8 md:size-5"></span>
                <span class="hidden md:block">Principal</span>
            </a>
            <a
                class="flex items-center gap-1 p-1 transition-colors hover:text-purple-500"
                routerLink="catalog"
                routerLinkActive="border-b-2"
            >
                <span class="icon-[boxicons--grid-filled] size-8 md:size-5"></span>
                <span class="hidden md:block">Colección</span>
            </a>
        </div>
    </nav>
</header>
