<div class="relative h-dvh w-full overflow-hidden">
    <img
        class="h-full w-full object-cover blur-xs"
        src="/Hero/hero-image-first.webp"
        alt="Portada"
    />

    <div
        class="absolute inset-0 flex flex-col items-center justify-center text-center px-4 pt-16 bg-white/40 gap-4"
    >
        <h2 class="text-4xl md:text-5xl font-semibold tracking-tight">Elegancia en cada detalle</h2>
        <p class="text-gray-600 md:w-xl">
            Descubre nuestra nueva colección de joyas y complementos diseñados para destacar tu
            esencia
        </p>
    </div>
</div>
