<footer class="bg-white border-t border-gray-300 p-2">
    <div
        class="max-w-6xl m-auto flex justify-center md:justify-between items-center text-gray-600 text-sm"
    >
        <p class="hidden md:block">
            Developed by
            <span class="text-blue-600">/|\</span>
            josliblue
        </p>
        <a href="https://github.com/JosliBlue" class="flex items-center">
            <span class="icon-[mdi--github] size-5"></span>
            <span class="md:hidden">josliblue</span>
        </a>
    </div>
</footer>
