@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600&family=Inter:wght@400;500&display=swap');

@import "tailwindcss";
@plugin "@iconify/tailwind4";

:root {
    --font-plus-jakarta: 'Plus Jakarta Sans';
    --font-inter: 'Inter';
}

h1,
h2,
h3 {
    font-family: var(--font-plus-jakarta);
}

span,
p,
a {
    font-family: var(--font-inter);
}






/* ==========================================
TÍTULOS Y DISPLAY (Plus Jakarta Sans)
========================================== */
.title-headline-md {
    @apply text-[24px] leading-[1.3] font-medium;
}

.title-headline-sm {
    @apply text-[20px] leading-[1.4] font-medium;
}

/* ==========================================
TEXTO DE CUERPO Y ETIQUETAS (Inter)
========================================== */
.text-body-lg {
    @apply text-[18px] leading-[1.6] font-normal;
}

.text-body-md {
    @apply text-[16px] leading-normal font-normal;
}

.text-label-sm {
    @apply text-[14px] leading-none tracking-wider font-medium;
}
