@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600&family=Inter:wght@400;500&display=swap');

@import 'tailwindcss';
@plugin "@iconify/tailwind4";

:root {
    --font-plus-jakarta: 'Plus Jakarta Sans';
    --font-inter: 'Inter';
    --colorsito: #1c014b;
}

h1,
h2,
h3 {
    font-family: var(--font-plus-jakarta);
    color: var(--colorsito);
}

span,
p,
a {
    font-family: var(--font-inter);
}
